<!DOCTYPE html>
<html>
<head>
    <title>Track popularity</title>  
    <meta name="viewport" content="width=device-width, initial-scale=1">  
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./static/styles/output.css">
    <link rel="stylesheet" href="./static/styles/font.css">
</head>
<body class="lg:max-xl:min-h-screen lg:max-xl:flex lg:max-xl:flex-col lg:max-xl:justify-between">
    <header class="fixed left-1/2 -translate-x-1/2 w-full py-8 3xl:py-24 max-md:px-8 max-lg:px-20 max-xl:px-28 max-2xl:px-32 perso-bg-white">
        <div class="2xl:max-w-300 3xl:max-w-700 mx-auto flex justify-between items-center">
            <p class="lg:text-lg 3xl:text-2xl instrument-sans-bold">Lorem</p>
            <a href="/predict" class="bg-black hover:bg-transparent text-[#FFFFF0] hover:text-black border hover:border-black py-2 3xl:py-3.5 px-7 3xl:px-24 rounded-sm">Prediction</a>
        </div>
    </header>
    <main class="2xl:max-w-300 3xl:max-w-700 mx-auto max-md:px-8 max-lg:px-20 max-xl:px-28 max-2xl:px-32 lg:max-xl:pt-24">
        <section class="grid xl:grid-cols-2 gap-16 md:max-xl:gap-20 3xl:gap-96 mb-16 max-lg:min-h-screen xl:min-h-screen items-stretch lg:items-center pt-40 sm:pt-52 lg:pt-24">
            <div class="flex flex-col justify-center lg:max-xl:items-center gap-12 3xl:gap-40">
                <p class="text-4xl 3xl:text-8xl">Track popularity prediction</p>
                <p class="text-lg 3xl:text-3xl instrument-sans-bold">Predict the popularity of your track with Machine&nbsp;Learning</p>
                <p class="lg:max-xl:text-center lg:max-xl:max-w-9/12">A classification task on track popularity using a model trained with a dataset extracted from Spotify obtained on Kaggle. Your track must belong to a popularity class (Low, Medium, High).</p>
                <a href="/predict" class="py-2 3xl:px-24 border max-lg:border-2 border-black w-32 3xl:w-72 text-center hover:bg-black hover:text-white rounded-sm">Start</a>
            </div>
            <div class="lg:max-xl:flex lg:max-xl:justify-center">
                <img class="shadow-img lg:max-xl:max-w-10/12 rounded" src="./static/images/top-view-music-concept-with-vinyl.jpg" alt="top view music concept with vinyl (from Freepik)">
            </div>
        </section>
    </main>
    <footer class="bg-black main-text-white py-12 3xl:py-24 max-md:px-8 max-lg:px-20 max-xl:px-28 max-2xl:px-32">
        <div class="2xl:max-w-300 3xl:max-w-700 mx-auto">
            <ul class="flex flex-col gap-2 3xl:gap-10">
                <li>Kaggle</li>
                <li>Spotify</li>
                <li>University of Technology, Mauritius</li>
            </ul>
        </div>
    </footer>
</body>
</html>