
.instrument-sans-normal, body {
  font-family: "Instrument Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.instrument-sans-bold {
  font-family: "Instrument Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.main-text-white {
    color: #FFFFF0;
}

.shadow-img {
    box-shadow: 10px 10px;
}
