@import "tailwindcss";

body {
    @apply bg-[#FFFFF0];
}

form > div > p {
    @apply mb-2.5
}

fieldset {
    @apply grid grid-cols-3 gap-5;
}

fieldset > div {
    @apply flex flex-col gap-3;
}

fieldset > div > input,
fieldset > div > select {
    @apply bg-gray-100 text-sm px-2.5 py-1.5;
}
