@import "tailwindcss";

@theme {
  --breakpoint-3xl: 130rem;
}

body {
    @apply bg-[#FFFFF0] 3xl:text-xl 3xl:leading-10;
}

form > div > p {
    @apply mb-2.5 3xl:mb-8 flex items-center gap-2 3xl:gap-5;
}

fieldset {
    @apply grid md:grid-cols-2 xl:grid-cols-3 max-lg:gap-5 lg:gap-8 xl:gap-5 3xl:gap-20;
}

fieldset > div {
    @apply flex flex-col gap-3;
}

fieldset > div > input,
fieldset > div > select {
    @apply bg-black/10 text-sm px-2.5 3xl:px-7 py-1.5 3xl:py-3 rounded-sm;
}

fieldset > div > input:hover,
fieldset > div > select:hover {
    @apply outline-1 outline-black/30;
}

fieldset > div > input:focus,
fieldset > div > select:focus {
    @apply outline outline-1 outline-black;
}
